body{
    background-color: darkgoldenrod;
}

h1{
    color: blue;
    background-color: antiquewhite;
}

#show_sketch{
    float: right;
    font-size: 20px;
}

canvas{
    border: 3px solid black;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 8s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow: 3px 3px 38px blue;}
    to {box-shadow: 3px 3px 38px red}
}

p{
    padding-top: 10px;
    font-size: 25px;
}